.board-wrapper {
	padding: 48px;
	border-radius: 16px;
	height: fit-content;
	background-color: rgba(140, 80, 240, 0.4);
}

.board {
	height: fit-content;
	width: fit-content;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
}

.space-wrapper {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	padding: 16px;
}

.space-wrapper:nth-child(3n) {
	border-right: none;
}

.space-wrapper:nth-child(7), .space-wrapper:nth-child(8), .space-wrapper:nth-child(9) {
	border-bottom: none;
}

.space {
	width: 128px;
	height: 128px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 100ms ease-in-out;
}

.space__empty:hover {
	background-color: rgba(140, 80, 240, 0.6);
	cursor: pointer;
}

.space-content {
	width: fit-content;
	height: fit-content;
	font-size: 48px;
}
